# Default ignored files
/../../Semana2_Edad./.idea/shelf/
/../../Semana2_Edad./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Semana2_Edad./.idea/httpRequests/
# Environment-dependent path to Maven home directory
/../../Semana2_Edad./.idea/mavenHomeManager.xml
# Datasource local storage ignored files
/../../Semana2_Edad./.idea/dataSources/
/../../Semana2_Edad./.idea/dataSources.local.xml
